<h1 mat-dialog-title>Novo Agendamento</h1>

<form [formGroup]="agendamentoForm">
    <p>
        <mat-form-field appearance="fill">
        <mat-label>Data</mat-label>
            <input matInput required [matDatepicker]="picker" [min]="dataMinima" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </p>
    
    <p>
        <mat-form-field>
        <mat-label>Professor</mat-label>
        <mat-select required [(value)]="professor" formControlName="professor">
            <mat-option *ngFor="let prof of dataSource" [value]="prof.id">{{prof.nome}}</mat-option>
        </mat-select>
        </mat-form-field>
    </p>

    <!-- <input type="hidden" [(value)]="1" formControlName="aluno"/> -->

    <button mat-raised-button color="primary" [disabled]="agendamentoForm.invalid" cdkFocusInitial (click)="saveOnClick()">Save</button>
</form>